@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;500;700&family=Fira+Mono:wght@700&display=swap');

:root {
    --stroke-color: #179f9f;
    --bs-dark     : #212529;
}

body {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='247' height='247' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23550055' stroke-width='1.6'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23BBBBBB'%3E%3Ccircle cx='769' cy='229' r='7'/%3E%3Ccircle cx='539' cy='269' r='7'/%3E%3Ccircle cx='603' cy='493' r='7'/%3E%3Ccircle cx='731' cy='737' r='7'/%3E%3Ccircle cx='520' cy='660' r='7'/%3E%3Ccircle cx='309' cy='538' r='7'/%3E%3Ccircle cx='295' cy='764' r='7'/%3E%3Ccircle cx='40' cy='599' r='7'/%3E%3Ccircle cx='102' cy='382' r='7'/%3E%3Ccircle cx='127' cy='80' r='7'/%3E%3Ccircle cx='370' cy='105' r='7'/%3E%3Ccircle cx='578' cy='42' r='7'/%3E%3Ccircle cx='237' cy='261' r='7'/%3E%3Ccircle cx='390' cy='382' r='7'/%3E%3C/g%3E%3C/svg%3E");
    background-color: #000000;
    margin          : 0;
    padding         : 0;
    overflow-x      : hidden;
}

.main {
    width                : 100%;
    height               : 100vh;
    background-attachment: fixed;
    background-position  : center;
    position             : relative;
}

.main .nav {
    width             : 100%;
    height            : 100px;
    display           : flex;
    align-items       : center;
    justify-content   : space-around;
    animation         : fadeInDown;
    animation-duration: 2s;
}

.main .nav .title {
    width          : auto;
    height         : 100%;
    display        : flex;
    align-items    : center;
    justify-content: center;
}

.main .nav .title h2 {
    font-family: 'Fira Code', monospace;
    font-weight: 500;
    font-size  : 40px;
    padding    : 0;
    margin     : 0;
    color      : white;
}



.main .nav .links {
    width          : auto;
    height         : 100%;
    display        : flex;
    align-items    : center;
    justify-content: center;
}



.main .nav .links ul {
    width          : auto;
    height         : 100%;
    display        : flex;
    align-items    : center;
    justify-content: center;
    gap            : 30px;
    list-style     : none;
}

.main .nav .links ul li a {
    text-decoration: none;
    color          : rgb(255, 255, 255);
    font-family    : "Rajdhani", sans-serif;
    font-weight    : 500;
    font-size      : 30px;
}

.main .nav .links ul li a:hover {
    color: rgba(255, 255, 255, 0.438);
}

.main .nav .btn {
    width  : auto;
    height : auto;
    display: none;
    cursor : pointer;
}



.main .nav .btn i {
    font-size: 40px;
    color    : white;
}

.main .navMobile {
    width           : 100%;
    height          : 100vh;
    background-color: rgb(0, 0, 0);
    display         : flex;
    align-items     : center;
    justify-content : center;
}

.main .navMobile .title {
    display: none;
}

.main .navMobile .btn {
    position: absolute;
    right   : 8%;
    top     : 25px;
}

.main .navMobile .btn i {
    font-size: 40px;
    color    : white;
    cursor   : pointer;
}

.main .navMobile .links ul {
    list-style: none;
}

.main .navMobile .links ul li a {
    color          : white;
    text-decoration: none;
    font-size      : 40px;
    font-family    : "Rajdhani", sans-serif;
    font-weight    : 500;
}

.main .main-container {
    width          : 100%;
    height         : calc(100vh - 100px);
    display        : flex;
    align-items    : center;
    justify-content: center;
}

.main-container {
    margin-bottom: 200px;
}

.main .main-container .info {
    width             : auto;
    height            : auto;
    display           : flex;
    align-items       : center;
    justify-content   : center;
    flex-direction    : column;
    animation         : fadeInDown;
    animation-duration: 3s;
}

.main .main-container .info .hi {
    display        : flex;
    align-items    : center;
    justify-content: center;
    height         : 50px;
}

.main .main-container .info p {
    font-family: 'Fira Code', monospace;
    font-weight: 500;
    font-size  : 40px;
    margin     : 0;
    color      : white;
}



.main .main-container .info h1 {
    font-family: 'Fira Code', monospace;
    font-weight: 900;
    font-size  : 70px;
    margin     : 0;
    color      : white;
}



.CV {
    display         : block;
    padding         : 10px 20px;
    background-color: var(--stroke-color);
    color           : white;
    font-family     : 'Fira Code', monospace;
    font-weight     : 700;
    text-decoration : none;
    border          : none;
    border-radius   : 5px;
    cursor          : pointer;
    transition      : background-color 0.3s;
    margin          : 20px;
    color           : black;
    /* Ajustado */

}

.CV:hover {
    background-color: #10c4c4;
}


.main .main-container {
    width             : 100%;
    display           : flex;
    flex-direction    : column;
    align-items       : center;
    justify-content   : center;
    /* padding        : 20px; */
}


.svg--icon {
    width           : 100%;
    max-width       : 5rem;
    height          : 100%;
    max-height      : 5rem;
    margin          : 0 auto;
    background-color: #00000000;
}


.social-container {
    width          : 100%;
    display        : flex;
    flex-wrap      : wrap;
    align-items    : center;
    justify-content: center;
    padding        : 1rem;
}

.main p {
    font-family  : 'Fira Code', monospace;
    font-weight  : 700;
    font-size    : 18px;
    color        : white;
    margin-bottom: 10px;
}


.icon-container {
    width          : 5rem;
    height         : 5rem;
    margin         : .5rem 1rem .5rem 0;
    border-radius  : 50%;
    display        : flex;
    align-items    : center;
    justify-content: center;
    position       : relative;
    filter         : drop-shadow(0 0 10px var(--stroke-color));
}

.icon-container::after {
    content         : '';
    position        : absolute;
    width           : calc(100% + 10px);
    height          : calc(100% + 10px);
    background-color: var(--stroke-color);
    border-radius   : 50%;
    z-index         : -1;
    filter          : blur(10px);
    background-color: transparent;
}

/* cards */
.cards-container {
    display        : flex;
    flex-wrap      : wrap;
    justify-content: space-around;
    margin         : 20px 20px;
    margin-bottom  : 200px;
    position       : relative;
}

.cards-container h2 {
    position      : absolute;
    top           : -90px;
    left          : 50%;
    transform     : translateX(-50%);
    font-family   : 'Fira Code', monospace;
    font-weight   : 1000;
    font-size     : 30px;
    color         : white;
    text-align    : center;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow   : 2px 2px 4px rgba(0, 0, 0, 0.5);
    animation     : none;
}

.card {
    flex            : 1 1 calc(30.333% - 20px);
    margin          : 10px;
    max-width       : calc(30.333% - 100px);
    background-color: rgba(255, 255, 255, 0.144);
    padding         : 20px;
    border-radius   : 10px;
    box-shadow      : 0 2px 10px rgba(0, 0, 0, 0.1);
    animation       : fadeInUp 1s ease-out;
    transition      : transform 0.3s ease-in-out;
    cursor          : pointer;
}

@keyframes fadeInUp {
    from {
        opacity  : 0;
        transform: translateY(20px);
    }

    to {
        opacity  : 1;
        transform: translateY(0);
    }
}

.card:hover {
    transform: translateY(-10px) scale(1.05) rotate(5deg);
}

.card.expanded,
.card.contracted {
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.overlay {
    position       : fixed;
    top            : 0;
    left           : 0;
    width          : 100%;
    height         : 100%;
    background     : rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items    : center;
    z-index        : 100;
    transition     : opacity 0.5s ease-in-out;

}

.card-image {
    width : 100%;
    height: auto;
}

.card.expanded {
    position        : fixed;
    top             : 50%;
    left            : 50%;
    transform       : translate(-50%, -50%);
    max-width       : 90%;
    height          : auto;
    overflow-y      : auto;
    z-index         : 101;
    background-color: #000000a4;
}

.card.expanded .card-info {
    display: block;
}

.card.contracted {
    transform: scale(1);
    z-index  : 0;
}

.card-title {
    font-size    : 20px;
    font-family  : 'Fira Code', monospace;
    font-weight  : 700;
    margin-bottom: 10px;
    color        : white;
}

.card-description {
    font-size    : 16px;
    font-family  : 'Fira Code', monospace;
    font-weight  : 500;
    color        : white;
    margin-bottom: 20px;
}

.card-btn {
    display         : inline-block;
    padding         : 10px 20px;
    background-color: var(--stroke-color);
    color           : black;
    /* Ajustado */
    font-family     : 'Fira Code', monospace;
    font-weight     : 700;
    text-decoration : none;
    border-radius   : 5px;
    transition      : background-color 0.3s;
}

.card-btn:hover {
    background-color: #10c4c4;
}


/* skills and svg's */

@keyframes dash {
    from {
        stroke-dashoffset: 1000;
        filter           : drop-shadow(0 0 5px #000000) drop-shadow(0 0 8px var(--stroke-color)) drop-shadow(0 0 5px var(--stroke-color));
    }

    to {
        stroke-dashoffset: 0;
        filter           : drop-shadow(0 0 5px #000000) drop-shadow(0 0 8px var(--stroke-color)) drop-shadow(0 0 5px var(--stroke-color));
    }
}

.knows-container {
    display        : flex;
    flex-wrap      : wrap;
    justify-content: center;
}

.svg-container {
    position: relative;
    margin  : 1vw;
}

.knows {
    width           : 8vw;
    height          : 8vw;
    overflow        : visible;
    background-color: #1c1c1c00;
}

.original-path {
    fill        : #000000;
    stroke      : #646464;
    stroke-width: 1;
}

.none {
    fill: none;
}

.animated-path,
.me {
    fill             : none;
    stroke-width     : 1;
    stroke-dasharray : 100 200;
    stroke-dashoffset: 1000;
    stroke-linecap   : round;
    stroke-linejoin  : round;
    animation        : none;
}

.knows:hover .animated-path {
    stroke           : var(--stroke-color);
    stroke-width     : 1;
    stroke-dasharray : 100 200;
    stroke-dashoffset: 5;
    stroke-linecap   : round;
    stroke-linejoin  : round;
    overflow         : visible;

    animation: dash 15s linear infinite;
}



.skills-section {
    text-align      : center;
    padding         : 20px;
    background-color: #333;
}

.skills-container {
    display              : grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows       : auto;
    gap                  : 20px;
    justify-content      : center;
    align-items          : start;
}

.skill-category {
    background-color: #222;
    border-radius   : 10px;
    padding         : 20px;
    box-shadow      : 5px 5px 10px rgba(0, 0, 0, 0.5), inset 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.skills-section h2 {
    font-family   : 'Fira Code', monospace;
    font-weight   : 1000;
    font-size     : 30px;
    color         : white;
    margin-bottom : 100px;
    text-align    : center;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow   : 2px 2px 4px rgba(0, 0, 0, 0.5);
    animation     : none;
}

.skill-category h3 {
    color      : white;
    font-size  : 20px;
    font-family: 'Fira Code', monospace;
    font-weight: 700;
}

.skills {
    display        : flex;
    flex-wrap      : wrap;
    justify-content: space-around;
    align-items    : center;
    flex-direction : row;
    max-height     : calc(50% * var(--skill-size));
    margin-bottom  : 20px;
}

.skill {
    display       : flex;
    flex-direction: column;
    align-items   : center;
    align-self    : start;

    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}



/* contact form */
.contact-section {
    margin-top    : 5vw;
    display       : flex;
    flex-direction: column;
    align-items   : center;
    padding       : 80px;
}

.contact-section h2 {
    font-family   : 'Fira Code', monospace;
    font-weight   : 1000;
    font-size     : 30px;
    color         : white;
    margin-bottom : 100px;
    text-align    : center;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow   : 2px 2px 4px rgba(0, 0, 0, 0.5);
    animation     : none;
}

.contact-container {
    margin-bottom   : 4vw;
    background-color: #222;
    padding         : 40px;
    border-radius   : 10px;
    box-shadow      : 0 2px 10px rgba(0, 0, 0, 0.1);
    width           : 100%;
    max-width       : 1000px;
}

.contact-form {
    width: 100%;
}

.form-group {
    margin-bottom: 20px;
    color        : white;
    font-family  : 'Fira Code', monospace;
}

.label {
    display       : block;
    font-family   : 'Fira Code', monospace;
    font-weight   : 1000;
    font-size     : 60px;
    color         : white;
    margin-bottom : 100px;
    text-align    : center;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow   : 2px 2px 4px rgba(0, 0, 0, 0.5);
    animation     : none;
}

.input,
textarea {
    width           : 100%;
    padding         : 10px;
    border          : none;
    border-radius   : 5px;
    background-color: rgba(255, 255, 255, 0.144);
    color           : white;
    font-family     : 'Fira Code', monospace;
    font-weight     : 500;
}

textarea {
    height: 150px;
    resize: none;
}

.submit-btn {
    display         : block;
    padding         : 10px 20px;
    background-color: var(--stroke-color);
    color           : black;
    /* Ajustado */
    font-family     : 'Fira Code', monospace;
    font-weight     : 700;
    text-decoration : none;
    border          : none;
    border-radius   : 5px;
    cursor          : pointer;
    transition      : background-color 0.3s;
}

.submit-btn:hover {
    background-color: #10c4c4;
}






/* night button  */
.theme-container {
    width          : 70px;
    height         : 70px;
    border-radius  : 50%;
    position       : fixed;
    bottom         : 20px;
    right          : 20px;
    display        : flex;
    justify-content: center;
    align-items    : center;
    transition     : 0.5s;
}

.light {
    width : 50px;
    height: 50px;
}

.theme-container:hover {
    opacity: 0.8;
}

.shadow-dark {
    background: linear-gradient(145deg, #23282c, #1e2125);
    box-shadow: 17px 17px 23px #1a1d20, -17px -17px 23px #282d32, inset 5px 5px 4px #1e2226, inset -5px -5px 4px #24282c;
}

.shadow-light {
    box-shadow: 7px 7px 15px -10px #bbcfda, -4px -4px 13px #ffffff, inset 7px 7px 3px rgba(209, 217, 230, 0.35), inset -11px -11px 3px rgba(255, 255, 255, 0.3);
}

@keyframes change {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.4);
    }
}

.change {
    animation-name     : change;
    animation-duration : 1s;
    animation-direction: alternate;
}


/* media querys */

@media screen and (max-width: 1024px) {
    .main .nav .title h2 {
        font-size: 30px;
    }

    .main .nav .links ul li a {
        font-size: 20px;
    }

    .main .main-container .info p {
        font-size: 30px;
    }

    .main .main-container .info h1 {
        font-size: 50px;
    }

    .main .main-container .info {
        padding: 10px;
    }

    .card {
        flex     : 1 1 calc(50% - 40px);
        max-width: calc(50% - 40px);
    }

    .knows {
        width : 12vw;
        height: 12vw;
    }

    .skills-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .skill-category h3 {
        font-size: 16px;
    }

    .skills-section h2 {
        font-size: 25px;
    }
}

@media screen and (max-width: 768px) {
    .main .nav .btn {
        display: flex;
    }

    .main .nav .links {
        display: none;
    }

    .main .navMobile .title {
        display: flex;
    }

    .main .main-container .info h1 {
        font-size: 40px;
    }

    .main .main-container .info p {
        font-size: 20px;
    }

    .main .main-container .info {
        padding: 20px;
    }

    .card {
        flex     : 1 1 calc(100% - 40px);
        max-width: calc(100% - 40px);
    }

    .knows {
        width : 15vw;
        height: 15vw;
    }

    .skills-container {
        grid-template-columns: 1fr;
        gap                  : 10px;
    }

    .skill-category h3 {
        font-size: 14px;
    }

    .skills-section h2 {
        font-size: 20px;
    }

    .main .main-container .card.expanded {
        max-width: 90%;
    }
}

@media screen and (max-width: 480px) {
    .main .nav .title h2 {
        font-size: 20px;
    }

    .main .main-container .info h1 {
        font-size: 30px;
    }

    .main .main-container .info p {
        font-size: 15px;
    }

    .card-title {
        font-size: 15px;
    }

    .card-description {
        font-size: 12px;
    }

    .knows {
        width : 20vw;
        height: 20vw;
    }

    .skill-category h3 {
        font-size: 12px;
    }

    .skills-section h2 {
        font-size: 18px;
    }

    .main .main-container .card.expanded {
        max-width: 95%;
    }
}